table, td, th {
  border: 1px #808080 solid;
  border-collapse: collapse;
}

#monthlyTable{
  width: 1800px;
}

#monthlyTable tr.monthyRank,
#detailTable tr.detailKyWords,
#dailyTable tr.dailyRank{
  font-size: 10px;
  height: 40px;
}

#monthlyTable th,
#detailTable th{
  width: 40px;
}
